 global
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  20000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  20000
  option  redispatch
  retries  3
  timeout  http-request 3600s
  timeout  queue 1m
  timeout  connect 3600s
  timeout  client 1m
  timeout  server 1m
  timeout  check 3600s

# internal
listen int_horizon_cluster
  bind {{ internal_vip_address }}:443 {% if enable_tls_internal %}ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:80 check inter 2000 rise 2 fall 5 
{% endfor %}

 listen glance_api_cluster
  bind {{ internal_vip_address }}:19292 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:9292 check inter 2000 rise 2 fall 5
{% endfor %}

 listen keystone_public_internal_cluster
  bind {{ internal_vip_address }}:15000 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:5000 check inter 2000 rise 2 fall 5
{% endfor %}

 listen placement_cluster
  bind {{ internal_vip_address }}:18778 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:8778 check inter 2000 rise 2 fall 5
{% endfor %}

 listen nova_cluster
  bind {{ internal_vip_address }}:18774 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:8774 check inter 2000 rise 2 fall 5
{% endfor %}

 listen nova_metadata_cluster
  bind {{ internal_vip_address }}:18775 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:8775 check inter 2000 rise 2 fall 5
{% endfor %}

 listen nova_vncproxy_cluster
  bind {{ internal_vip_address }}:16080 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:6080 check inter 2000 rise 2 fall 5
{% endfor %}

listen neutron_api_cluster
  bind {{ internal_vip_address }}:19696 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:9696 check inter 2000 rise 2 fall 5
{% endfor %}

 listen cinder_api_cluster
  bind {{ internal_vip_address }}:18776 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:8776 check inter 2000 rise 2 fall 5
{% endfor %}

 listen percona_cluster
  bind {{ internal_vip_address }}:13306 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:3306 check inter 2000 rise 2 fall 5
{% endfor %}


{% if enable_octavia %}
 listen octavia
  bind {{ internal_vip_address }}:19876 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:9876 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_manila %}
 listen manila
  bind {{ internal_vip_address }}:18786 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:8786 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_barbican %}
 listen barbican
  bind {{ internal_vip_address }}:19311 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:9311 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_swift %}
 listen swift
  bind {{ internal_vip_address }}:18080 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:13306 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_swift %}
 listen swift
  bind {{ internal_vip_address }}:18080 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}
  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:8080 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_masakari %}
 listen masakari
  bind {{ internal_vip_address }}:15900 {% if enable_tls_internal %} ssl crt {{internal_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~int_api_interface].ipv4.address }}:15868 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}




# public

{% if external_vip_address is defined %}
listen pub_horizon_cluster
  bind {{ external_vip_address }}:443 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:80 check inter 2000 rise 2 fall 5 
{% endfor %}

 listen pub_glance_api_cluster
  bind {{ external_vip_address }}:19292 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:9292 check inter 2000 rise 2 fall 5
{% endfor %}

 listen pub_keystone_public_external_cluster
  bind {{ external_vip_address }}:15000 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:5000 check inter 2000 rise 2 fall 5
{% endfor %}

 listen pub_placement_cluster
  bind {{ external_vip_address }}:18778 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:8778 check inter 2000 rise 2 fall 5
{% endfor %}

 listen pub_nova_cluster
  bind {{ external_vip_address }}:18774 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:8774 check inter 2000 rise 2 fall 5
{% endfor %}

 listen pub_nova_metadata_cluster
  bind {{ external_vip_address }}:18775 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:8775 check inter 2000 rise 2 fall 5
{% endfor %}

 listen pub_nova_vncproxy_cluster
  bind {{ external_vip_address }}:16080 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:6080 check inter 2000 rise 2 fall 5
{% endfor %}

listen pub_neutron_api_cluster
  bind {{ external_vip_address }}:19696 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:9696 check inter 2000 rise 2 fall 5
{% endfor %}

 listen pub_cinder_api_cluster
  bind {{ external_vip_address }}:18776 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:8776 check inter 2000 rise 2 fall 5
{% endfor %}

 listen pub_percona_cluster
  bind {{ external_vip_address }}:13306 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:3306 check inter 2000 rise 2 fall 5
{% endfor %}


{% if enable_octavia %}
 listen pub_octavia
  bind {{ external_vip_address }}:19876 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:9876 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_manila %}
 listen pub_manila
  bind {{ external_vip_address }}:18786 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:8786 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_barbican %}
 listen pub_barbican
  bind {{ external_vip_address }}:19311 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:9311 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}



{% if enable_swift %}
 listen pub_swift
  bind {{ external_vip_address }}:18443 {% if enable_tls_external %} ssl crt {{external_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:13306 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% endif %}


{% if enable_masakari %}
 listen pub_masakari
  bind {{ external_vip_address }}:15900 {% if enable_tls_external %} ssl crt {{ external_fqdn_cert }} ssl verify none{% endif %}

  balance source
  mode tcp
{% for item in groups['controller'] %}
  server {{ hostvars[item] ['ansible_hostname'] }} {{ hostvars[item]['ansible_'~external_api_interface].ipv4.address }}:15868 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}


