#!/bin/sh
export PYTHONIOENCODING=utf8
export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD="{{ keystone_pass }}"
{% if enable_tls_internal %}
export OS_AUTH_URL=https://{{ internal_fqdn }}:15000/v3/
export OS_CACERT="{{ certificates_dir}}/haproxy-internal.pem"
{% else %} 
export OS_AUTH_URL=http://{{ internal_fqdn }}:15000/v3/
{% endif %}
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
export OS_INTERFACE=internal
export PS1='[\u@\h \W(admin_openrc)]\$ '
{% if enable_manila %}
export OS_MANILA_ENDPOINT_TYPE=internal
{% endif %}
