[DEFAULT]
graceful_shutdown_timeout = 5
os_privileged_user_tenant = service
transport_url = rabbit://{% for host in groups['controller'] %}{{ rabbitmq_name }}:{{ rabbitmq_password }}@{{ hostvars[host]['ansible_'~int_api_interface]['ipv4']['address'] }}:5672{% if not loop.last %},{% endif %}{% endfor %}

os_privileged_user_password = {{ keystone_pass }}
os_privileged_user_name = nova
{% if enable_tls_internal  %}
os_privileged_user_auth_url = https://{{ internal_vip_address }}:15000
cafile = {{ internal_fqdn_cert }}
{% elif enable_tls_internal == false %}
os_privileged_user_auth_url = http://{{ internal_vip_address }}:15000
{% endif %}
logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s [01;35m%(instance)s[00m
logging_debug_format_suffix = [00;33mfrom (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d[00m
logging_default_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[00;36m-%(color)s] [01;35m%(instance)s%(color)s%(message)s[00m
logging_context_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[01;36m%(request_id)s [00;36m%(project_name)s %(user_name)s%(color)s] [01;35m%(instance)s%(color)s%(message)s[00m
use_syslog = False
debug = false
masakari_api_workers = 2
nova_catalog_admin_info = compute:nova:internalURL
nova_ca_certificates_file = /opt/certificate/haproxy-internal.pem
notification_driver = taskflow_driver
os_regione_name = ReigonOne
os_user_domain_name = default
os_project_domain_name = default


[database]
connection = mysql+pymysql://masakari:{{ db_password }}@{{ internal_vip_address }}/masakari


[keystone_authtoken]
{% if enable_tls_internal  %}
service_type = instance-ha
www_authenticate_uri = https://{{ internal_vip_address }}:15000
auth_url = https://{{ internal_vip_address }}:15000
cafile = {{ internal_fqdn_cert }}
{% elif enable_tls_internal == false %}
www_authenticate_uri = http://{{ internal_vip_address }}:15000
auth_url = http://{{ internal_vip_address }}:15000
{% endif %}
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = masakari
password = {{ keystone_pass }}
memcached_servers = {% for host in groups['controller'] %}{{ hostvars[host]['ansible_'~int_api_interface]['ipv4']['address'] }}:11211{% if not loop.last %},{% endif %}{% endfor %}


[taskflow]
connection = mysql+pymysql://masakari:{{ keystone_pass }}@{{ internal_vip_address}}/masakari?charset=utf8

[instance_failure]
process_all_instances = true

[oslo_messaging_notifications]
transport_url = rabbit://{% for host in groups['controller'] %}{{ rabbitmq_name }}:{{ rabbitmq_password }}@{{ hostvars[host]['ansible_'~int_api_interface]['ipv4']['address'] }}:5672{% if not loop.last %},{% endif %}{% endfor %}

driver = noop

[oslo_middleware]
enable_proxy_headers_parsing = True
